.eb_sidebar {
    width: 4.5rem;
    height: calc(100vh - 90px);
    background-color: #051e34;
    background-image:url(../img/sidebar-bg.png);
}

.eb_h-89 {
    height: 89vh;
}

.eb_fit-cont {
    height: fit-content;
}


/* hover effects */

.eb_sidebar a:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.eb_sidebar a {
    transition: all 0.3s;
}

.eb_offcanvas:hover {
    background-color: white;
}

.eb_offcanvas:hover i {
    color: black!important;
}


/* media utilities */

@media screen and (min-width:991px) {

    .eb_sidebar-lg {
        min-width: 9.5rem;
    }
    
    .eb_w-40-lg{
        width: 40% !important;
    }
    
}

@media screen and (min-width:1200px) {

    .eb_rel-xl {
        position: relative;
    }

    .eb_abs-xl {
        position: absolute;
    }

    .eb_te-xl {
        top: 17.5rem;
        right: 0;
    }
    
}